*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
  background-image: url("../img/1200widthbg.png");
  background-size: auto;
}


./*bd-example{
  overflow: hidden;
  width: 1400px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}*/

.card {
  overflow: hidden;

}


div .navbarlogo {
  border-radius: 45%;
}

.card-img-top-dimension {

 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: auto;
 width: 100px;
height: auto;

}

.site-footer
{
  background-color:white;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:black;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:black;
}
.site-footer a:hover
{
  color:black;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:black;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:black;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}

.copyright-text
{
  margin:0
}
